<div [@routerTransition]>
    <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2>

    <hr>


    <div class="row">
        <div class="col-xl-4 col-lg-6">
            <app-stat [bgClass]="'card-primary'" [icon]="'fa-list'" [count]="allTasks.length" [label]="'ALL TASKS'"></app-stat>
        </div>
        <div class="col-xl-4 col-lg-6">
            <app-stat [bgClass]="'card-danger'" [icon]="'fa-sticky-note-o'" [count]="pendingTasks.length" [label]="'PENDING TASKS'"></app-stat>
        </div>
        <div class="col-xl-4 col-lg-6">
            <app-stat [bgClass]="'card-success'" [icon]="'fa-check'" [count]="completedTasks.length" [label]="'COMPLETED TASKS'"></app-stat>
        </div>

    </div>

    <!-- filters -->

    <div class="row">
        <div class="col-md-4">
            <div class="form-group" class="filterbox">
                <label>Task Time Filter</label>
                <select class="form-control" (ngModelChange)="filter($event)">
                        <option>Today's Tasks</option>
                        <option>All Tasks</option>
                       
                    </select>
            </div>
        </div>
    </div>

    <!-- end filters -->
    <hr />
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
    <hr />
    <div class="row">
        <div class="col-lg-8">

            <!-- Pending -->
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i> Pending Timeline
                </div>
                <!-- main section -->

                <div class="row" style="padding:20px;">
                    <div class="col-xl-4 col-lg-6 col-sm-12 col-xs-12" *ngFor="let task of pendingTasks">
                        <div class="card mb-3">
                            <div class="card-header card-danger" style="color:white">
                                {{getDifference(task.reportdate)}} ago
                            </div>
                            <div class="card-block">
                                <div style="clear:both"></div>

                                <div [ngStyle]="{'background-image':'url(' + task.photo + ')','background-size':'cover','height':'200px','width':'100%','background-position':'center'}">

                                </div>

                                <div class="details">
                                    <p>Type : {{task.type}}</p>
                                    <p>City : {{task.city}}</p>

                                </div>
                                <button type="button" class="btn btn-primary" style="width: 100%;border-radius:0; " (click)="show(task)">View Task</button>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- end main section -->
            </div>
            <!-- End Pending -->
            <!-- start Completed -->
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i> Completed Timeline
                </div>
                <!-- main section -->

                <div class="row" style="padding:20px;">
                    <div class="col-xl-4 col-lg-6 col-sm-12 col-xs-12" *ngFor="let task of completedTasks">
                        <div class="card mb-3">
                            <div class="card-header card-success" style="color:white">
                                {{getDifference(task.reportdate)}} ago
                            </div>
                            <div class="card-block">
                                <div [ngStyle]="{'background-image':'url(' + task.photo + ')','background-size':'cover','height':'200px','width':'100%','background-position':'center'}">

                                </div>

                                <div class="details">
                                    <p>Type : {{task.type}}</p>
                                    <p>City : {{task.city}}</p>

                                </div>
                                <button type="button" class="btn btn-primary" style="width: 100%;border-radius:0; " (click)="show(task)">View Task</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- end main section -->
            </div>
            <!-- end Completed -->

            <!-- /.card -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-bell fa-fw"></i> Notifications card
                </div>
                <!-- /.card-header -->
                <app-notification></app-notification>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <app-chat></app-chat>
            <!-- /.card .chat-card -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
</div>